/* THE 'ControlsWrapper' ID IS USED TO STYLE THE WRAPPER AROUND THE DROPDOWN */
.LegendWrapperClosed {
  position: absolute;
  z-index: 3;
  background: #bdbdbd;
  padding: 1em;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.5em;
  text-align: center;
  width: 25%;
  right: 20px;
  bottom: 10px;
  color: white;
  word-wrap: break-word;
  transition: margin 0.5s;
  margin: 0 0 -800px 0;
  height: auto;
  overflow: hidden;
}

.LegendWrapperOpen {
  position: absolute;
  z-index: 3;
  background: #bdbdbd;
  padding: 1em;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.5em;
  text-align: center;
  width: 22%;
  height: auto;
  right: 20px;
  bottom: 1em;
  color: white;
  word-wrap: break-word;
  transition: margin 0.5s;
  margin: 0 0 0px 0;
  overflow: hidden;
}

.legendInfoWrapper {
  position: relative;
  z-index: 2;
  background: #4d4d4d;
  margin: 0.05em;
  padding: 1em;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.5em;
  text-align: center;
}

.legendTitle {
  vertical-align: center;
  position: static;
  cursor: default;
  font-size: 1em;
  color: #3182bd;
  font-family: 'Open Sans', sans-serif;
  background: black;
  border-radius: 0.3em;
  padding: 0.5em;
  white-space: pre-line;      /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.legendSubTitles {
  vertical-align: center;
  position: static;
  cursor: default;
  font-size: 1em;
  color: #3182bd;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background: black;
  border-radius: 0.3em;
  padding: 0.25em;
  opacity: 0.7;
  white-space: pre-line;      /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.affectedCritFac {
  background-color: #de2d26;
  opacity: 0.8;
  width: 25%;
  height: 25%;
  align-items: flex-start;
  margin-right: 10%;
  vertical-align: center;
  margin-top: 2em;
}

.critFac {
  background: #2ca5c3;
  opacity: 0.8;
  width: 25%;
  height: 25%;
  align-items: flex-start;
  margin-right: 10%;
  vertical-align: center;
  margin-top: 2em;
}

.colorBar {
  height: 0.5em;
  width: 3em;
  vertical-align: center;
}

.imgTextFix {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  white-space: pre-line;      /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}