/* THE 'BaseMapSwitcher' ID IS USED TO STYLE THE WRAPPER AROUND THE DROPDOWN */
.basemapsWrapper {
  position: relative;
  z-index: 2;
  background: #4d4d4d;
  margin-top: .5em;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5em;
  text-align: center;
}

.basemapSelectorTitle {
  vertical-align: center;
  position: static;
  cursor: default;
  font-size: 1em;
  color: #3182bd;
  font-family: 'Open Sans', sans-serif;
  background: black;
  border-radius: 0.3em;
  padding: 0.5em;
  white-space: pre-line;      /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.basemapSelector {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: #416285;
  padding: 0.2em;
  margin-top: 1em;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

select {
  text-align-last: center;
}
