/* THE 'ControlsWrapper' ID IS USED TO STYLE THE WRAPPER AROUND THE DROPDOWN */
.ControlsWrapper {
  position: absolute;
  z-index: 2;
  background: #bdbdbd;
  margin-top: 10px;
  padding: 1em;
  margin-left: 10px;
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5em;
  text-align: center;
  width: 15%;
}
