.titleWrapper {
  position: relative;
  z-index: 2;
  background: #0e0e0e;
  height: 10em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5em;
  background-repeat: no-repeat;
  background-image: url('../img/SLR-Viewer_logo_sq_white.png');
  background-size: contain;
  background-position: center;
}

.title {
  position: relative;
  cursor: default;
  font-size: 2em;
  color: #88cfff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.3em;
  padding: 0.25em;
  white-space: pre-line;      /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
  text-align: center;
}