.componentsWrapper {
  position: relative;
  z-index: 2;
  background: #636363;
  padding: 0.25em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5em;
}

.controlsTitle {
  position: relative;
  cursor: default;
  font-size: 1em;
  color: #3182bd;
  font-family: 'Open Sans', sans-serif;
  background: black;
  border-radius: 0.3em;
  padding: 0.25em;
  white-space: pre-line;      /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
  text-align: center;
}

.buttonToolbarWrapper {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.05em;
}
