.map {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.title {
  font-family: var(--font-serif);
  font-size: rem(36px);
}

.loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url('https://i.stack.imgur.com/MnyxU.gif');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}