/* THE 'ControlsWrapper' ID IS USED TO STYLE THE WRAPPER AROUND THE DROPDOWN */
.ControlsWrapperClosed {
  position: absolute;
  z-index: 2;
  background: #bdbdbd;
  margin-top: 10px;
  padding: 1em;
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5em;
  text-align: center;
  width: 275px;
  transition: margin .5s;
  margin: 0 0 0 -275px;
}

.ControlsWrapperOpen {
  position: absolute;
  z-index: 2;
  background: #bdbdbd;
  margin-top: 10px;
  padding: 1em;
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5em;
  text-align: center;
  width: 275px;
  transition: margin .5s;
  margin: 0 0 0 0px;
}

.btn .btn-primary .sideButton {
  float:'right';
  position: 'absolute'; 
  display: 'inline-block'; 
  z-index: '10';
  left: '275px';
}