/* THE 'LayersWrapper' ID IS USED TO STYLE THE WRAPPER AROUND THE LAYERS IMAGES */
.LayersWrapper {
  position: relative;
  z-index: 2;
  background: #636363;
  margin-top: 1em;
  padding: 1em;
  top: 40%;
  left: 1%;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5em;
  text-align: center;
}

.LayerMenuTitle {
  cursor: default;
  font-size: 1em;
  color: #3182bd;
  background: black;
  border-radius: 0.3em;
  padding: 0.5em;
  white-space: pre-line;      /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}
/* ADD SOME HOVER EFFECTS TO PROVIDE USER FEEDBACK */
.criticalFacilities:hover,
.slosh:hover,
.femaFirm:hover,
.clickedButton:hover {
  padding: 0.1em;
  transform: scale(1.025);
  cursor: pointer;
  background-color: #3182bd;
}
/* ADD LAYER IMAGE STYLING */
.criticalFacilities {
  background: #416285;
  padding: 1em;
  margin-top: 0.5em;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slosh {
  background: #7bb6c6;
  padding: 1em;
  margin-top: 1em;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.femaFirm {
  background: #416285;
  padding: 1em;
  margin-top: 1em;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clickedButton {
  background: #f0f0f0;
  padding: 1em;
  margin-top: 1em;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ADD A HOVER EFFECT TO PROVIDE USER FEEDBACK */
.clickedButton:hover {
  background: #f7fcb9;
}
