/* THE 'LayersWrapper' ID IS USED TO STYLE THE WRAPPER AROUND THE LAYERS IMAGES */
.LayersWrapper {
  position: relative;
  background: #4d4d4d;
  margin-top: 0.5em;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5em;
}

.mapLayerTitle {
  cursor: default;
  font-size: 1em;
  color: #3182bd;
  font-family: 'Open Sans', sans-serif;
  background: black;
  border-radius: 0.3em;
  padding: 0.5em;
  white-space: pre-line;      /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

/* ADD LAYER IMAGE STYLING */
.criticalFacilities {
  background: #416285;
  padding: 1em;
}

.slosh {
  background: #7bb6c6;
  padding: 1em;
}

.femaFirm {
  background: #416285;
  padding: 1em;
}

.clickedButton {
  background: #201e1e;
  padding: 1em;
}

/* ADD HOVER EFFECTS TO PROVIDE USER FEEDBACK */
.criticalFacilities:hover,
.slosh:hover,
.femaFirm:hover,
.clickedButton:hover {
  cursor: pointer;
  background-color: #f7fcb9;
}

.slider {
  margin: auto;
}

.noTopBorder {
  border-top: none !important;
}

.noBottomBorder {
  border-bottom: none !important;
}

.buttonBeside {
  display: inline-block !important;
}

.intersectingIcon {
  background-image: url('./img/critFac.svg');
  background-color: #de2d26;
  border-radius: 15%;
}

.nonIntersectingIcon {
  background-image: url('./img/critFac.svg');
  background-color: #2ca5c3;
  border-radius: 15%;
}